*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}
.App {
  
}
li, a{
  list-style-type: none;
  text-decoration: none;
}
a:visited{
  color: black;
}
.home-container{
  text-align: center;
}
.home-container h3{
  font-size: 24px;
  line-height: 30px;
}
.homepage-img{
  width: 200px;
  height: auto;
  margin-bottom: 50px;
  border-radius: 10px;
}